html,
body {
    background-color: #fff;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 4em;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/img/polygon.jpg");
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 2, 70);
    background: -webkit-linear-gradient(to right, #c65dcf, rgb(70, 2, 70));

    background: linear-gradient(to right, #c65dcf, rgb(70, 2, 70));
    opacity: 0.9;
}
